@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-attachment: fixed;
    font-family: "Raleway";
    background-image: radial-gradient(#4d2b57, #1F0E29, rgb(0, 0, 0));
}

h2{
    font-family: "Raleway";
}

p{
    font-family: "Raleway";
}

.responsive-image {
    width: 100%; 
    height: auto; 
    max-width: 15vw;
    max-height: 15vw; 
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
}
